body{
    background-color: #2f303b;
}
.footer {
    margin-top: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #343a40;
    color: floralwhite;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    background:#2f303b;
    color: floralwhite;
} 
hr{
    border-top: 1px solid aqua;    
}

.tc{
    text-align: center;
    color: white;
}
.content{
    margin-bottom: 20px;
}